{{> head }}
<body>
	<nav role="navigation" class="post-menu">
		<h2>All Posts</h2><button class="close">&times;</button>
		<ul>
			{{#getPosts 'src/posts/*.hbs'}}
			<li>
				{{#is title ../title }}
					{{title}}
				{{/is}}
				{{#isnt title ../title }}
					<a href="/{{slug}}.html">{{ title }}</a>
				{{/isnt}}
			</li>
			{{/getPosts}}
		</ul>
	</nav>
	<div class="pre-footer-wrapper">
		<header role="banner">
			<button class="menu">Browse Posts</button>
			<button class="menu small-screen">&nbsp;</button>
			<a href="/">
				<img src="/img/logo.svg" alt="Archers Logo"><h1>Archers! - Development Blog</h1>
			</a>
		</header>
		<div class="wrap">
			<main role="main">
				<h1>
				<span>{{title}}</span><time datetime="{{date}}">{{formatDate date "%d %b %Y"}}</time>
				</h1>
				<article>
				 	{{> body }}
				 </article>
				 
				 {{#nextArticle pages this}}
				 	{{#if data.title }}
				 	<aside>
				 		<h2>Next: </h2><a href="/{{basename}}.html">{{ data.title }}</a>
				 	</aside>
				 	{{/if}}
				 {{/nextArticle}}
				 
			</main>
		</div>
		<div class="push"></div>
	</div>
	{{> footer }}
	{{> js }}
	{{> analytics }}
</body>
</html>